<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Justice League vs Avengers Post Blog</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header> 
        <h1>Justice League vs Avengers</h1>
        <img src="/images/VS.png" alt="Justice League vs Avengers" width = "30%" height = "auto" margin = "10px"/>
        <nav>
          <a href="/">Homepage</a>
          <a href="/dashboard" style = "color:tomato">Dashboard</a>
          <a href="/follow" style = "color:tomato">Follow</a>
          {{#if loggedIn}}
          <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
          <a href="/login">Login</a>
          {{/if}}
        </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer style="font-family:fantasy">
      Thanks for visiting!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>