<div class="jumbotron2 jumbotron-fluid text-center">
  <div class="container">
    <h2 class="p-2">Welcome!</h2>
  </div>
</div>
<ol class="post-list text-center">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>