<form class="login-form text-center mt-4">
  <div>
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>

  <div class="text-center">
    <a href="/signup"><button style="background-color:tomato;margin:5px;">Sign Up</button></a>
  </div>


<script src="/javascript/login.js"></script>