 <div class="jumbotron1 jumbotron-fluid text-center">
  <div class="container">
     <h2 class="p-2">
     New Fight Post
    </h2>
    <h3>Please add hero names 1 from justice league and 1 from avengers in the title.</h3>
  </div>
</div>

<section class="text-center p-2">
    <div class="container">
      <!-- Every grid layout we create starts with an HTML element receiving a class of row -->
      <!-- align-items-end change the alignment of flex items to end -->
      <div class="row align-items-end">
        <div class="col-12 col-md-6 text-center p-5">
          <img src="/images/JLDCLogo2.png" alt="Justice League Logo" width="200" height="auto"/>
          <h3> Justice League</h3>
          {{!-- <button class="btn btn-primary" id = "JLPickButton"> 
            Pick a Hero
          </button> --}}
          <div class="card-body2 p-5" id ="JLHero">
          </div>
        </div>
        <!-- Uses a combination of col-* values to make full-size on small devices and half-size on medium or larger devices -->
        <div class="col-12 col-md-6 text-center p-5">
          <img src="/images/AvengersLogo1.png" alt="Avengers Logo" width="310" height="auto" />
          <h3> Avengers</h3>
          {{!-- <button class="btn btn-primary" id = "AvengerPickButton"> 
            Pick a Hero
          </button> --}}
          <div class="card-body2 p-5" id ="AVHero">
          </div>
        </div>
      </div>
    </div>
  <div class="card text-center m-2">
    <form class="new-post-form p-2">
        <div class="mt-4">
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title"></input>
        </div>
        <div class="mt-5">
            <label for="post-content">Content</label>
            <textarea rows="6" cols="80" id="post-content" name="post-content"></textarea>
        </div>
        <button type="submit" style="background-color:tomato" class="m-4">Create Post</button>
    </form>
  </div>
</section>

  <script src="/javascript/add-post.js"></script>